n8n/workflows/tech-stack-detector.json
{
  "name": "Tech Stack Detector",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "2d3d4f7b-6ee9-4066-97e1-697f666fa5fd",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-1760, 0]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "3659c68b-2213-4027-9bbe-ca4387dacffe",
      "name": "Supabase - Get Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-1536, 0],
      "credentials": {
        "supabaseApi": {
          "id": "4pPsx2sAVgrzJm5n",
          "name": "Supabase Leads"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $json;\nconst artifacts = (row.enrichment && row.enrichment.website && row.enrichment.website.raw_artifacts) || {};\n\nconst hasArtifacts = Object.values(artifacts).some((a) =>\n  a && (\n    (a.script_hosts && a.script_hosts.length) ||\n    (a.link_hosts && a.link_hosts.length) ||\n    a.meta_generator ||\n    (a.header_names && a.header_names.length) ||\n    (a.script_path_markers && a.script_path_markers.length)\n  )\n);\n\nreturn [{ json: { ...row, hasArtifacts } }];"
      },
      "id": "d1076731-33a8-42b5-85b7-1e6b4b4d9fe8",
      "name": "Check Has Artifacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1312, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-has-artifacts",
              "leftValue": "={{ $json.hasArtifacts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b35d5231-0509-4967-aabd-66943b07a824",
      "name": "Has Artifacts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1088, 0]
    },
    {
      "parameters": {
        "jsCode": "const row = $('Check Has Artifacts').item.json;\nconst existing = row.enrichment || {};\nconst enrichment = {\n  ...existing,\n  tech_stack: {\n    status: 'skipped',\n    detected: [],\n    method: 'fingerprint',\n    reason: 'no_html'\n  }\n};\n\nreturn [{ json: { id: row.id, enrichment } }];"
      },
      "id": "fbf96c21-01da-4251-93d4-a3c2e77452f3",
      "name": "Build Skipped Tech Stack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-864, 160]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/config/tech_fingerprints.json",
        "options": {}
      },
      "id": "7b558637-7cdc-4054-8d44-979518b17e82",
      "name": "Read Fingerprint Config",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [-864, -160],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const binary = $input.item.binary.data;\n  const buffer = Buffer.from(binary.data, 'base64');\n  const rules = JSON.parse(buffer.toString('utf-8'));\n  if (!Array.isArray(rules)) throw new Error('fingerprint config is not an array');\n  return [{ json: { configOk: true, rules } }];\n} catch (e) {\n  return [{ json: { configOk: false, rules: [] } }];\n}"
      },
      "id": "56f771d2-e2a7-4695-8670-2567f42b682a",
      "name": "Parse Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-640, -160]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { configOk: false, rules: [] } }];"
      },
      "id": "1b78bc29-f957-4284-84d3-6be286640686",
      "name": "Config Read Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-640, 80]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-config-ok",
              "leftValue": "={{ $json.configOk }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bfea70e7-4c44-4bcd-b516-d325e38f1a3b",
      "name": "Config Readable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-416, -80]
    },
    {
      "parameters": {
        "jsCode": "const row = $('Check Has Artifacts').item.json;\nconst existing = row.enrichment || {};\nconst enrichment = {\n  ...existing,\n  tech_stack: {\n    status: 'failed',\n    detected: [],\n    method: 'fingerprint',\n    reason: 'config_unreadable'\n  }\n};\n\nreturn [{ json: { id: row.id, enrichment } }];"
      },
      "id": "dfd1edbe-8134-4ad0-95f9-dfaaf17cf524",
      "name": "Build Failed Config Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-192, 80]
    },
    {
      "parameters": {
        "jsCode": "function matches(rule, page) {\n  switch (rule.type) {\n    case 'script_host':\n      return (page.script_hosts || []).some((h) => h.includes(rule.pattern));\n    case 'link_host':\n      return (page.link_hosts || []).some((h) => h.includes(rule.pattern));\n    case 'meta_generator':\n      return !!page.meta_generator && page.meta_generator.toLowerCase().includes(rule.pattern.toLowerCase());\n    case 'header_name':\n      return (page.header_names || []).some((h) => h.toLowerCase() === rule.pattern.toLowerCase());\n    case 'script_path_marker':\n      return (page.script_path_markers || []).includes(rule.pattern);\n    default:\n      return false;\n  }\n}\n\nconst row = $('Check Has Artifacts').item.json;\nconst rules = $json.rules;\nconst rawArtifacts = (row.enrichment && row.enrichment.website && row.enrichment.website.raw_artifacts) || {};\n\nconst detected = new Set();\nfor (const page of Object.values(rawArtifacts)) {\n  if (!page) continue;\n  for (const rule of rules) {\n    if (matches(rule, page)) detected.add(rule.tool);\n  }\n}\n\nconst existing = row.enrichment || {};\nconst enrichment = {\n  ...existing,\n  tech_stack: {\n    status: 'ok',\n    detected: Array.from(detected).sort(),\n    method: 'fingerprint'\n  }\n};\n\nreturn [{ json: { id: row.id, enrichment } }];"
      },
      "id": "c3c926d5-bdb3-4a8f-a339-dc8d093e1a6e",
      "name": "Run Fingerprint Matching",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-192, -160]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "enrichment",
              "fieldValue": "={{ $json.enrichment }}"
            }
          ]
        }
      },
      "id": "1664b450-3d1b-44d6-b44e-7eae49926fa6",
      "name": "Supabase - Update Enrichment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [96, 0],
      "credentials": {
        "supabaseApi": {
          "id": "4pPsx2sAVgrzJm5n",
          "name": "Supabase Leads"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-config-unreadable",
              "leftValue": "={{ $json.enrichment.tech_stack.reason }}",
              "rightValue": "config_unreadable",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8008064d-aefd-4afd-95f5-7980e4f4b517",
      "name": "Config Unreadable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [320, 0]
    },
    {
      "parameters": {
        "errorMessage": "=Tech Stack Detector: config/tech_fingerprints.json could not be read for lead {{ $json.id }} (check the /config bind mount on the n8n container). tech_stack.status written as failed/config_unreadable; replayable once the mount/file is fixed."
      },
      "id": "9eb27faa-6fa9-4f42-8108-be8ee8d57d54",
      "name": "Fail Execution - Config Unreadable",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [544, -80]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [[{ "node": "Supabase - Get Lead", "type": "main", "index": 0 }]]
    },
    "Supabase - Get Lead": {
      "main": [[{ "node": "Check Has Artifacts", "type": "main", "index": 0 }]]
    },
    "Check Has Artifacts": {
      "main": [[{ "node": "Has Artifacts?", "type": "main", "index": 0 }]]
    },
    "Has Artifacts?": {
      "main": [
        [{ "node": "Read Fingerprint Config", "type": "main", "index": 0 }],
        [{ "node": "Build Skipped Tech Stack", "type": "main", "index": 0 }]
      ]
    },
    "Build Skipped Tech Stack": {
      "main": [[{ "node": "Supabase - Update Enrichment", "type": "main", "index": 0 }]]
    },
    "Read Fingerprint Config": {
      "main": [
        [{ "node": "Parse Config", "type": "main", "index": 0 }],
        [{ "node": "Config Read Failed", "type": "main", "index": 0 }]
      ]
    },
    "Parse Config": {
      "main": [[{ "node": "Config Readable?", "type": "main", "index": 0 }]]
    },
    "Config Read Failed": {
      "main": [[{ "node": "Config Readable?", "type": "main", "index": 0 }]]
    },
    "Config Readable?": {
      "main": [
        [{ "node": "Run Fingerprint Matching", "type": "main", "index": 0 }],
        [{ "node": "Build Failed Config Object", "type": "main", "index": 0 }]
      ]
    },
    "Build Failed Config Object": {
      "main": [[{ "node": "Supabase - Update Enrichment", "type": "main", "index": 0 }]]
    },
    "Run Fingerprint Matching": {
      "main": [[{ "node": "Supabase - Update Enrichment", "type": "main", "index": 0 }]]
    },
    "Supabase - Update Enrichment": {
      "main": [[{ "node": "Config Unreadable?", "type": "main", "index": 0 }]]
    },
    "Config Unreadable?": {
      "main": [
        [{ "node": "Fail Execution - Config Unreadable", "type": "main", "index": 0 }],
        []
      ]
    }
  }
}
