n8n/workflows/website-scraper-fetch-page.json
{
  "name": "Website Scraper - Fetch Page",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "82a85c47-32d1-48b5-9e83-5bb974a71b61",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1024,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Input: { pageType, primaryUrl, primaryAllowed, fallbackUrl, fallbackAllowed }\n// Collapses the allowed/present checks into an ordered attempt list so the\n// rest of the workflow is a single linear try-1-then-try-2 chain.\nconst item = $input.item.json;\nconst attempts = [];\nif (item.primaryAllowed && item.primaryUrl) attempts.push(item.primaryUrl);\nif (item.fallbackAllowed && item.fallbackUrl) attempts.push(item.fallbackUrl);\n\nreturn [{\n  json: {\n    pageType: item.pageType,\n    attempt1Url: attempts[0] || null,\n    attempt2Url: attempts[1] || null\n  }\n}];"
      },
      "id": "8d095db7-a6e8-4b1f-9f68-014ea94777b2",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-has-attempt1",
              "leftValue": "={{ $json.attempt1Url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "07b09b2f-1848-471d-b59b-87a1746b18cb",
      "name": "Has Attempt 1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Prepare').item.json;\nreturn [{\n  json: {\n    pageType: prep.pageType,\n    status: 'skipped',\n    text: '',\n    url: null,\n    artifacts: { script_hosts: [], link_hosts: [], meta_generator: null, header_names: [], script_path_markers: [] },\n    reason: 'robots_disallowed'\n  }\n}];"
      },
      "id": "6c18cf70-b024-4d51-b305-f06af2bef723",
      "name": "Build Skipped (robots_disallowed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        416
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.attempt1Url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "f085f195-6fc2-4468-97bd-58d761096669",
      "name": "Fetch Attempt 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -352,
        176
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function extractHost(url) {\n  let rest = null;\n  if (url.startsWith('//')) {\n    rest = url.slice(2);\n  } else if (/^https?:\\/\\//i.test(url)) {\n    rest = url.replace(/^https?:\\/\\//i, '');\n  } else {\n    return null;\n  }\n  return rest.split(/[\\/?#]/)[0] || null;\n}\n\nfunction extractArtifacts(html, headers) {\n  const PATH_MARKERS = ['/_next/static/', '/wp-content/', '/wp-includes/', 'unpkg.com/react', 'jsdelivr.net/npm/react'];\n  const scriptHosts = new Set();\n  const linkHosts = new Set();\n  const pathMarkers = new Set();\n\n  const scriptRe = /<script\\b[^>]*\\bsrc=[\"']([^\"']+)[\"'][^>]*>/gi;\n  let m;\n  while ((m = scriptRe.exec(html))) {\n    const src = m[1];\n    const host = extractHost(src);\n    if (host) scriptHosts.add(host);\n    for (const marker of PATH_MARKERS) {\n      if (src.includes(marker)) pathMarkers.add(marker);\n    }\n  }\n\n  const linkRe = /<link\\b[^>]*\\bhref=[\"']([^\"']+)[\"'][^>]*>/gi;\n  while ((m = linkRe.exec(html))) {\n    const host = extractHost(m[1]);\n    if (host) linkHosts.add(host);\n  }\n\n  let metaGenerator = null;\n  const metaRe = /<meta\\b[^>]*>/gi;\n  while ((m = metaRe.exec(html))) {\n    const tag = m[0];\n    if (/\\bname=[\"']generator[\"']/i.test(tag)) {\n      const contentMatch = tag.match(/\\bcontent=[\"']([^\"']*)[\"']/i);\n      if (contentMatch) { metaGenerator = contentMatch[1]; break; }\n    }\n  }\n\n  return {\n    script_hosts: Array.from(scriptHosts),\n    link_hosts: Array.from(linkHosts),\n    meta_generator: metaGenerator,\n    header_names: headers ? Object.keys(headers) : [],\n    script_path_markers: Array.from(pathMarkers)\n  };\n}\n\nconst html = ($json.body ?? $json.data ?? '').toString();\nconst url = $('Prepare').item.json.attempt1Url;\nconst CHAR_CAP = 4000;\nconst MIN_CONTENT_CHARS = 80;\n\nconst text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<nav[\\s\\S]*?<\\/nav>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/gi, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, CHAR_CAP);\n\nconst status = text.length >= MIN_CONTENT_CHARS ? 'ok' : 'failed';\nconst artifacts = extractArtifacts(html, $json.headers);\n\nreturn [{\n  json: {\n    pageType: $('Prepare').item.json.pageType,\n    status,\n    text: status === 'ok' ? text : '',\n    url,\n    artifacts,\n    ...(status === 'failed' ? { reason: 'empty_content' } : {})\n  }\n}];\n"
      },
      "id": "ffe1ce5e-43ea-4a5e-adb2-ebb3e5acd962",
      "name": "Extract Text (Attempt 1)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-has-attempt2",
              "leftValue": "={{ $('Prepare').item.json.attempt2Url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9101850b-9829-47ce-bfa2-6364dd4214e9",
      "name": "Has Attempt 2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Prepare').item.json;\nreturn [{\n  json: {\n    pageType: prep.pageType,\n    status: 'failed',\n    text: '',\n    url: null,\n    artifacts: { script_hosts: [], link_hosts: [], meta_generator: null, header_names: [], script_path_markers: [] },\n    reason: 'fetch_failed'\n  }\n}];"
      },
      "id": "f2ff2f98-73bf-483a-b0c3-fe29e40b19b8",
      "name": "Build Failed (fetch_failed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        336
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Prepare').item.json.attempt2Url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "39d6a264-bdfd-4d72-ac42-fb9870c34c72",
      "name": "Fetch Attempt 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        96
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function extractHost(url) {\n  let rest = null;\n  if (url.startsWith('//')) {\n    rest = url.slice(2);\n  } else if (/^https?:\\/\\//i.test(url)) {\n    rest = url.replace(/^https?:\\/\\//i, '');\n  } else {\n    return null;\n  }\n  return rest.split(/[\\/?#]/)[0] || null;\n}\n\nfunction extractArtifacts(html, headers) {\n  const PATH_MARKERS = ['/_next/static/', '/wp-content/', '/wp-includes/', 'unpkg.com/react', 'jsdelivr.net/npm/react'];\n  const scriptHosts = new Set();\n  const linkHosts = new Set();\n  const pathMarkers = new Set();\n\n  const scriptRe = /<script\\b[^>]*\\bsrc=[\"']([^\"']+)[\"'][^>]*>/gi;\n  let m;\n  while ((m = scriptRe.exec(html))) {\n    const src = m[1];\n    const host = extractHost(src);\n    if (host) scriptHosts.add(host);\n    for (const marker of PATH_MARKERS) {\n      if (src.includes(marker)) pathMarkers.add(marker);\n    }\n  }\n\n  const linkRe = /<link\\b[^>]*\\bhref=[\"']([^\"']+)[\"'][^>]*>/gi;\n  while ((m = linkRe.exec(html))) {\n    const host = extractHost(m[1]);\n    if (host) linkHosts.add(host);\n  }\n\n  let metaGenerator = null;\n  const metaRe = /<meta\\b[^>]*>/gi;\n  while ((m = metaRe.exec(html))) {\n    const tag = m[0];\n    if (/\\bname=[\"']generator[\"']/i.test(tag)) {\n      const contentMatch = tag.match(/\\bcontent=[\"']([^\"']*)[\"']/i);\n      if (contentMatch) { metaGenerator = contentMatch[1]; break; }\n    }\n  }\n\n  return {\n    script_hosts: Array.from(scriptHosts),\n    link_hosts: Array.from(linkHosts),\n    meta_generator: metaGenerator,\n    header_names: headers ? Object.keys(headers) : [],\n    script_path_markers: Array.from(pathMarkers)\n  };\n}\n\nconst html = ($json.body ?? $json.data ?? '').toString();\nconst url = $('Prepare').item.json.attempt2Url;\nconst CHAR_CAP = 4000;\nconst MIN_CONTENT_CHARS = 80;\n\nconst text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<nav[\\s\\S]*?<\\/nav>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/gi, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, CHAR_CAP);\n\nconst status = text.length >= MIN_CONTENT_CHARS ? 'ok' : 'failed';\nconst artifacts = extractArtifacts(html, $json.headers);\n\nreturn [{\n  json: {\n    pageType: $('Prepare').item.json.pageType,\n    status,\n    text: status === 'ok' ? text : '',\n    url,\n    artifacts,\n    ...(status === 'failed' ? { reason: 'empty_content' } : {})\n  }\n}];\n"
      },
      "id": "efe7c5be-5130-45b1-8c0e-24b1af1f99b5",
      "name": "Extract Text (Attempt 2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          {
            "node": "Has Attempt 1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attempt 1?": {
      "main": [
        [
          {
            "node": "Fetch Attempt 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Skipped (robots_disallowed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Attempt 1": {
      "main": [
        [
          {
            "node": "Extract Text (Attempt 1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Attempt 2?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attempt 2?": {
      "main": [
        [
          {
            "node": "Fetch Attempt 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failed (fetch_failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Attempt 2": {
      "main": [
        [
          {
            "node": "Extract Text (Attempt 2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failed (fetch_failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3a740ee3-3a86-49f0-89ed-95d83adf04dd",
  "meta": {
    "instanceId": "68dc6225d3bd91f509f1622e5bc9ca13d6bb79e6e162b7d2abe02d53fb814dcd"
  },
  "nodeGroups": [],
  "id": "ZnqoxGYtnsv89YQY",
  "tags": []
}