n8n/workflows/website-scraper.json
{
  "name": "Website Scraper",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "4910f689-58af-4fcf-a0d8-9e7e46d291a9",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -896,
        160
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "7115efb8-1667-44e3-93ec-b08c94da95e0",
      "name": "Supabase - Get Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -672,
        160
      ],
      "credentials": {
        "supabaseApi": {
          "id": "4pPsx2sAVgrzJm5n",
          "name": "Supabase Leads"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $json;\nreturn [{\n  json: {\n    ...row,\n    hasDomain: !!(row.domain && row.domain.trim())\n  }\n}];"
      },
      "id": "608e56dd-d0a6-4c67-8536-837f853b8474",
      "name": "Check Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-has-domain",
              "leftValue": "={{ $json.hasDomain }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5d7e173b-3ae4-46ef-bd55-8a31165d14ac",
      "name": "Has Domain?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $('Check Domain').item.json;\nconst existing = row.enrichment || {};\nconst skippedPage = { status: 'skipped', text: '', url: null, reason: 'no_domain' };\n\nconst enrichment = {\n  ...existing,\n  website: {\n    status: 'skipped',\n    pages: {\n      home: skippedPage,\n      about: skippedPage,\n      pricing: skippedPage\n    },\n    fetched_at: null\n  }\n};\n\nreturn [{ json: { id: row.id, enrichment } }];"
      },
      "id": "341f8c6b-6ea3-423d-8387-d4fdd644b417",
      "name": "Build Skipped Website (no domain)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $('Check Domain').item.json.domain.trim() }}/robots.txt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "fc6b0cee-1bba-47e8-91b8-6200285682d0",
      "name": "Fetch robots.txt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const resp = $json;\nconst disallowed = [];\nconst bodyText = resp.body ?? resp.data;\n\nif (typeof bodyText === 'string' && (resp.statusCode === undefined || resp.statusCode < 400)) {\n  let inWildcardBlock = false;\n  for (const raw of bodyText.split(/\\r?\\n/)) {\n    const line = raw.split('#')[0].trim();\n    if (!line) continue;\n    const sepIdx = line.indexOf(':');\n    if (sepIdx === -1) continue;\n    const key = line.slice(0, sepIdx).trim().toLowerCase();\n    const value = line.slice(sepIdx + 1).trim();\n    if (key === 'user-agent') {\n      inWildcardBlock = value === '*';\n    } else if (key === 'disallow' && inWildcardBlock && value) {\n      disallowed.push(value);\n    }\n  }\n}\n\nconst row = $('Check Domain').item.json;\nreturn [{\n  json: {\n    id: row.id,\n    domain: row.domain.trim(),\n    enrichment: row.enrichment || {},\n    disallowedPrefixes: disallowed\n  }\n}];"
      },
      "id": "601193aa-ea1e-4976-b256-bbfbf4accb64",
      "name": "Parse robots.txt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $json;\nconst base = `https://${row.domain}`;\nconst disallowed = row.disallowedPrefixes || [];\n\nfunction isAllowed(path) {\n  return !disallowed.some((prefix) => path.startsWith(prefix));\n}\n\nconst plan = [\n  { pageType: 'home', primaryPath: '/', fallbackPath: null },\n  { pageType: 'about', primaryPath: '/about', fallbackPath: '/about-us' },\n  { pageType: 'pricing', primaryPath: '/pricing', fallbackPath: '/plans' }\n];\n\nreturn plan.map((p) => ({\n  json: {\n    pageType: p.pageType,\n    primaryUrl: base + p.primaryPath,\n    primaryAllowed: isAllowed(p.primaryPath),\n    fallbackUrl: p.fallbackPath ? base + p.fallbackPath : null,\n    fallbackAllowed: p.fallbackPath ? isAllowed(p.fallbackPath) : false\n  }\n}));"
      },
      "id": "30909120-b9e1-425a-8647-1e25cbe58188",
      "name": "Build Page Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZnqoxGYtnsv89YQY",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZnqoxGYtnsv89YQY",
          "cachedResultName": "Website Scraper - Fetch Page"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "id": "442febb9-98af-48d3-a8bb-74c9577a9dc7",
      "name": "Execute Workflow - Fetch Page",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const pageResults = $input.all().map((i) => i.json);\nconst pages = {};\nfor (const r of pageResults) {\n  pages[r.pageType] = {\n    status: r.status,\n    text: r.text || '',\n    url: r.url || null,\n    ...(r.reason ? { reason: r.reason } : {})\n  };\n}\n\nconst statuses = Object.values(pages).map((p) => p.status);\nconst okCount = statuses.filter((s) => s === 'ok').length;\nlet websiteStatus;\nif (okCount === statuses.length) websiteStatus = 'ok';\nelse if (okCount === 0) websiteStatus = 'failed';\nelse websiteStatus = 'partial';\n\nconst row = $('Parse robots.txt').first().json;\nconst existing = row.enrichment || {};\n\nconst enrichment = {\n  ...existing,\n  website: {\n    status: websiteStatus,\n    pages,\n    fetched_at: new Date().toISOString()\n  }\n};\n\nreturn [{ json: { id: row.id, enrichment } }];"
      },
      "id": "2b704522-5dd5-4164-9239-c8312db32eea",
      "name": "Aggregate Website Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "enrichment",
              "fieldValue": "={{ $json.enrichment }}"
            }
          ]
        }
      },
      "id": "44a42dde-40d6-4398-b669-61d14e6235c3",
      "name": "Supabase - Update Enrichment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        160
      ],
      "credentials": {
        "supabaseApi": {
          "id": "4pPsx2sAVgrzJm5n",
          "name": "Supabase Leads"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": "17bf564d-f81e-4fc5-bc59-c33df8d12b79"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Supabase - Get Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Lead": {
      "main": [
        [
          {
            "node": "Check Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Domain": {
      "main": [
        [
          {
            "node": "Has Domain?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Domain?": {
      "main": [
        [
          {
            "node": "Fetch robots.txt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Skipped Website (no domain)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Skipped Website (no domain)": {
      "main": [
        [
          {
            "node": "Supabase - Update Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch robots.txt": {
      "main": [
        [
          {
            "node": "Parse robots.txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse robots.txt": {
      "main": [
        [
          {
            "node": "Build Page Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Page Plan": {
      "main": [
        [
          {
            "node": "Execute Workflow - Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow - Fetch Page": {
      "main": [
        [
          {
            "node": "Aggregate Website Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Website Status": {
      "main": [
        [
          {
            "node": "Supabase - Update Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c85b5d04-47e7-42a3-98e8-58ea9b5ec7d6",
  "meta": {
    "instanceId": "68dc6225d3bd91f509f1622e5bc9ca13d6bb79e6e162b7d2abe02d53fb814dcd"
  },
  "nodeGroups": [],
  "id": "pM7mW9mH5nC6nyIz",
  "tags": []
}